body {
background-color:#FFFFFF;
font-size:10pt;
font-family:Arial;
margin:0;
padding:0;
background-image:url(images/back.png);
background-repeat:repeat-x;
color:#555555;
}

#page {
width:1000px;
background-image:url(images/page.png);
margin:auto;
padding:auto;
}

#header {
clear:both;
width:840px;
height:80px;
background-image:url(images/header.png);
padding-top:30px;
padding-left:60px;
}

.sidebarheader {
margin-bottom:5px;
width:280px;
height:25px;
padding-top:5px;
padding-left:20px;
background-image:url(images/sidebarheader.png);
font-size:14px;
font-weight:bold;
color:#FFFFFF;
}

.sidebarheader1 {
margin-bottom:5px;
width:547px;
height:25px;
padding-top:5px;
font-size:14px;
font-weight:bold;
text-align:center;
color:#ffffde;
}

#sidebarnav {
margin-left:10px;
margin-top:10px;
padding-bottom:10px;
}
  
#sidebarnav a {
	width:265px;
	display:block;
	clear:both;
	padding-left:8px;
	padding-top:6px;
	height:25px;
	border-left:3px solid #555555;
	color:#555555;
	text-decoration:none;
	font-size:12px;
	background-color:#eee6e6;
	margin-top:3px;
  }
  
  
#sidebarnav a:hover, #sidebarnav a.active {
	background-color:#eee6e6;
	text-decoration:none;
	border-left:3px solid #333333;
	color:#333FFe;
}

.widget {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
}

#mainarea {
width:870px;
clear:both;
padding-left:21px;
}

#contentarea {
width:500px;
padding-left:50px;
padding-bottom:20px;
float:left;
line-height:10pt;
}

#sidebar {
float:left;
width:300px;
line-height:14pt;
}

#sidebar1 {
float:right;
width:557px;
line-height:14pt;
}

#footer {
width:900px;
clear:both;
height:28px;
padding-top:20px;
text-align:center;
line-height:14pt;
background-image:url(images/footer.png);
background-repeat:no-repeat;
background-color:#FFFFFF;
color:#FFFFFF;
}

#footer a {
color:#FFFFFF;
}

h1, h1 a {
font-size:18pt;
color:#FFFFFC;;
margin:0;
}

h2 {
font-size:13pt;
color:#236885;
padding-top:2px;
}

.description {
font-size:12pt;
color:#FFFFFF;
margin:0;
}

a {
color:#333333;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}